<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= csrf_meta_tags %>
<title>JOMLaunch</title>
<%= stylesheet_link_tag 'landing', media: 'all' %>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content text-center">
        <%= image_tag asset_path('jomweb-logo.svg'), alt: 'JomWeb', class: 'logo' %>
        <%= image_tag asset_path('jomlaunch.svg'), alt: 'JOMLaunch' %>
        <h3>
        	10 Oktober 2015, 8.30 pagi - 5.00 petang<br>
        	Content Malaysia Pitching Center, KL Sentral
        </h3>
        <p>JOMLaunch adalah sebuah program yang dikelolakan oleh komuniti JOMWEB, sebuah komuniti programmer dan penggiat teknologi maklumat di Malaysia bagi merai kepakaran teknologi maklumat tempatan. Ianya juga bertujuan memberi inspirasi kepada programmer lain agar lebih proaktif, membina projek dan beraspirasi meraih kejayaan yang lebih tinggi di peringkat global.</p>
        <%= link_to 'Beli Tiket', 'http://evenesis.yus.com.my/Tickets.aspx?event=192c6050-b33d-457c-afc0-11616b5f0080&source=p', class: 'btn btn-warning' %>
        <%= link_to 'Hantar Projek', submit_path, class: 'btn btn-jomlaunch' %>
      </div>
    </div>
  </div>
</section>

<section id="categories">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Kategori Projek</h2>
        <p class="lead">Projek-projek di JOMLaunch akan dibahagi kepada 4 kategori</p>
      </div>
    </div>
    <div class="row items">
      <div class="col-md-3 item">
        <div class="thumb"><%= image_tag asset_path('icon-open.svg'), alt: 'Sumber Terbuka' %></div>
        <h4>Sumber Terbuka</h4>
        <p>Kod aturcara diberikan secara percuma? Kategorikan projek anda sebagai sumber terbuka. Terima kasih kerana cuba mengubah dunia!</p>
      </div>
      <div class="col-md-3 item">
        <div class="thumb"><%= image_tag asset_path('icon-community.svg'), alt: 'Komuniti' %></div>
        <h4>Komuniti</h4>
        <p>Servis yang diberikan adalah percuma? Projek anda seharusnya berada didalam kategori komuniti. Teruskan berbakti!</p>
      </div>
      <div class="col-md-3 item">
        <div class="thumb"><%= image_tag asset_path('icon-personal.svg'), alt: 'Peribadi' %></div>
        <h4>Peribadi</h4>
        <p>Projek suka-suka? Kod anda masih lagi untuk tatapan diri sendiri? Kategori ini paling sesuai untuk anda. Asah produk anda hingga berjaya!</p>
      </div>
      <div class="col-md-3 item">
        <div class="thumb"><%= image_tag asset_path('icon-commercial.svg'), alt: 'Komersial' %></div>
        <h4>Komersil</h4>
        <p>Produk syarikat? Mensasarkan keuntungan? Sertai kami dengan memilih kategori komersil. Semoga anda sukses!</p>
      </div>
    </div>
  </div>
</section>

<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 col-xs-12 content">
        <h3 class="title"><%= image_tag asset_path('icon-notebook.png'), class: 'icon' %>Atur Cara Program</h3>
        <ul class="list-unstyled list">
          <li><span class="time">8:30 am</span>Pendaftaran</li>
          <li><span class="time">9:00 am</span>Ucapan Aluan</li>
          <li><span class="time">09:15 am</span>Pembentangan Projek - Slot 1</li>
          <li><span class="time">10:15 am</span>Sembang Teknologi #1</li>
          <li><span class="time">10:45 am</span>Pembentangan Projek - Slot 2</li>
          <li><span class="time">11:45 am</span>Sembang Teknologi #2</li>
          <li><span class="time">12:15 am</span>Pembentangan Projek - Slot 3</li>
          <li><span class="time">13:15 am</span>Makan Tengahari</li>
          <li><span class="time">14:15 am</span>Pembentangan Projek - Slot 4</li>
          <li><span class="time">15:15 am</span>Sembang Teknologi #3</li>
          <li><span class="time">15:45 am</span>Pembentangan Projek - Slot 5</li>
          <li><span class="time">16:45 am</span>Sesi Penutup</li>
          </div>
      </div>
    </div>
  </div>
  <div id="map" class="col-xs-12"></div>
</section>

<section id="sponsors">
  <div class="container">
    <div class="col-md-3"><h2>Penaja &amp; Penyokong</h2></div>
    <div class="col-md-9 sponsor-list">
      <div class="col-md-4">
      	<%= link_to image_tag(asset_path('sponsor-finas.jpg'), alt: 'FINAS'), 'http://pitchingcentre.com.my' %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag(asset_path('sponsor-nef.jpg'), alt: 'NEF'), 'http://www.nef.org.my' %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag(asset_path('sponsor-evenesis.png'), alt: 'evenesis'), 'https://www.evenesis.com' %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag(asset_path('sponsor-katsana.png'), alt: 'Katsana'), 'https://www.katsana.com' %>
      </div>
    </div>
  </div>
</section>

<section id="cta">
  <div class="container text-center">
    <h2>Bersama Membangunkan Bidang Teknologi Maklumat Tempatan!</h2>
    <%= link_to 'Beli Tiket', 'http://evenesis.yus.com.my/Tickets.aspx?event=192c6050-b33d-457c-afc0-11616b5f0080&source=p', class: 'btn btn-warning' %>
    <%= link_to 'Hantar Projek', submit_path, class: 'btn btn-jomlaunch' %>
  </div>
</section>

<section id="credits">
  <div class="container text-center">
  	&copy;2015 JomWeb - Komuniti Programming &amp; UI/UX<br>
    Direka bentuk oleh <a href="https://dribbble.com/izuddinhelmi">Izuddin Helmi</a> &amp; Dibangunkan oleh <a href="http://azraai.me/">Ariff Azraai</a>
  </div>
</section>

<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag 'landing' %>
</body>
</html>
