<% page_title t('.title') %>
<% @projects.each_with_index do |project, index| %>
<div class="project-container">
	<% if project.logo.present? %>
		<%= link_to image_tag(project.logo.thumb.url, class: 'logo', alt: project.name), project.logo.url, target: '_blank' %>
	<% else %>
		<%= image_tag project.logo.thumb.url, class: 'logo', alt: project.name %>
	<% end %>
	<span class="count">#<%= index+1 %></span>
	<span class="label label-success"><%= Project::CATEGORIES[project.category] %></span>
	<h1>
		<%= project.name %>
		<% if project.url.present? %><small><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-new-window'), ensure_url(project.url) %></small><% end %>
	</h1>
	<p class="description"><%= project.description %></p>
	<p class="developers meta"><span><%= t '.developers' %></span> <%= h developers_string(project.developers) %></p>
	<p class="submitter meta"><span><%= t '.submitter' %></span> <%= project.submitter_name %> &lt;<%= project.submitter_email %>&gt; (<%= project.submitter_phone %>)</p>
</div>
<% end %>